
	<section id="bienvenida">
		<article class="recuadro">
			<img src="static/img/fondo1.jpg" />
			<div>
				Explora
				<p>
					Da un paseo por mozArt y disfruta de la increíble variedad de obras de arte.
				</p>
				<a href="#/explorar">Entrar sin cuenta</a>
			</div>
		</article>
		<article class="recuadro">
			<img src="static/img/fondo2.jpg" />
			<div>
				Descubre
				<p>
					Una nueva forma de compartir el arte. Uneté como artista y forma parte de la comunidad mozArt.
				</p>
				<a href="#">Conoce la cuenta de artista</a>
			</div>
		</article>
		<article class="recuadro">
			<img src="static/img/fondo3.jpg" />
			<div>
				Comparte
				<p>
					Todo el contenido en mozArt es libre de ser compartido en tus redes sociales favoritas.
				</p>
				<a href="#">Leer acerca de las licencias</a>
			</div>
		</article>
		<article class="recuadro">
			<img src="static/img/fondo4.jpg" />
			<div>
				Contacta
				<p>
					Los artistas necesitan alguien que los ayude a alcanzar el éxito, ¿estás dispuesto a ser tu?
				</p>
				<a href="#">Conoce la cuenta de promotor</a>
			</div>
		</article>
		<article class="recuadro">
			<img src="static/img/fondo5.jpg" />
			<div>
				Colabora
				<p>
					¿Te gusta mozArt? Ayuda a que el proyecto crezca.
				</p>
				<a href="#">Realizar donación</a>
			</div>
		</article>
		<p>Todo esto, a unos cuantos clics de distancia.</p>
	</section>
