<section id="section-general">
	<div id="contenedor-principal">
		<div id="barra-lateral">
			<ul class="menu-bloques">
				<li class="opcion-menu "><a class="iconos icono-informacion" href="#/panel/informacion">Editar información</a></li>
				<li class="opcion-menu "><a class="iconos icono-panel" href="#/panel/cuenta">Configurar cuenta</a></li>
				<li class="opcion-menu "><a class="iconos icono-notificaciones" href="#/panel/notificaciones">Notificaciones</a></li>
				<li class="opcion-menu "><a class="iconos icono-mensajes" href="#/panel/mensajes">Mensajes privados</a></li>
				<li class="opcion-menu "><a class="iconos icono-estadisticas" href="#/panel/estadisticas">Mis estadísticas</a></li>
				<li class="opcion-menu "><a class="iconos icono-listas" href="#/panel/listas">Gestionar listas</a></li>
				<li class="opcion-menu "><a class="iconos icono-obras activo" href="#/panel/obras">Mis obras</a></li>
				<li class="opcion-menu "><a class="iconos icono-carpetas" href="#/panel/carpetas">Gestionar carpetas</a></li>
				<li class="opcion-menu "><a class="iconos icono-boletines" href="#/panel/boletines">Gestionar boletínes</a></li>
				<li class="opcion-menu "><a class="iconos icono-eventos" href="#/panel/eventos">Gestionar eventos</a></li>
			</ul>
		</div>
		<div id="configuraciones">
			<article class="publicacion" ng-repeat="obra in obras">
				<div class="thumbnail-obra" style="background:url('{{obra.imagen}}');">
					<span class="formato" ng-bind="obra.formato"></span>
				</div>
				<span class="iconos icono-{{obra.categoria}}"></span><a class="titulo-obra" ng-href="{{obra.url}}" ng-bind="obra.nombre"></a>
				<br/>
				Creada el <span class="fecha-obra" ng-bind="obra.fecha"></span><br/>
				<div style="display: inline-block" ng-controller="modalCtrl">
					<button style="margin: 0 auto" class="boton boton-azul" type="button" ng-click="toggleModal()">Editar</button>
					<modal-dialog show="modalShown" titulo-ventana="Editar obra">
						<div  class="ventana-modal-contenido" >
							<form id="subirobra" name="subirobra" ng-submit="validar()" novalidate>
								 <label for="titulo">Título de la obra</label><br/>
								<input class="cuadrotexto un-cuadro" type="text" name="titulo" ng-model="obra.nombre" placeholder="Escribe un título para la obra" required ng-minlength="4" ng-maxlength="40"/><br/>
								<label for="descripcion">Descripción de la obra</label><br/>
								<textarea class="cuadrotexto un-cuadro caja" name="descripción"ng-model="descripcion" required ng-minlength="1" ng-maxlength="1000"></textarea><br/>
								<select class="cuadrotexto un-cuadro" name="categoria" ng-model="categoria" required>
									<option value="" default disabled>Selecciona una categoría</option>
									<option value="dyp">Dibujo y pintura</option>
									<option value="fyf">Fotografía y filme</option>
									<option value="tyl">Teatro y literatura</option>
									<option value="myb">Música y baile</option>
									<option value="eyc">Escultura y cerámica</option>
									<option value="ad">Arte digital</option>
									<option value="otros">Otros</option>
								</select><br/>
								<label for="etiquetas">Etiquetas (Te quedan {{maxeti - etiquetas.length}})</label><br/>
								<tags-input class="cuadrotexto un-cuadro" name="etiquetas" ng-model="etiquetas" placeholder="Entre 3 y 30 caracteres por etiqueta" add-on-space="true"min-length="3" max-length="25" min-tags="0" max-tags="30"></tags-input>
							</form>
						</div>
						<button type="button" class="boton boton-verde">Listo</button>
						<button type="button" class="boton boton-rojo" ng-click="toggleModal()">Cancelar</button>
					</modal-dialog>
				</div>
				<div style="display: inline-block" ng-controller="modalCtrl">
					<button style="margin: 0 auto" class="boton boton-rojo" type="button" ng-click="toggleModal()">Eliminar</button>
					<modal-dialog show="modalShown" titulo-ventana="¿Seguro de que quieres eliminar esta obra?">
						<div  class="ventana-modal-contenido" >
							Una vez que elimines la obra, se borrará de la base de datos de mozArt y no podrás recuperarla. No hay marcha atrás.
						</div>
						<button type="button" class="boton boton-rojo">Si</button>
						<button type="button" class="boton boton-azul" ng-click="toggleModal()">No</button>
					</modal-dialog>
				</div>
			</article>
			<br/>
			<button class="boton boton-verde" ng-click="cargar(cantidad)">Cargar más obras</button>
		</div>
	</div>
</section>
