<section id="section-general">
	<div id="contenedor-principal">
		<div id="barra-lateral">
			<ul class="menu-bloques">
				<li class="opcion-menu "><a class="iconos icono-informacion" href="#/panel/informacion">Editar información</a></li>
				<li class="opcion-menu "><a class="iconos icono-panel" href="#/panel/cuenta">Configurar cuenta</a></li>
				<li class="opcion-menu "><a class="iconos icono-notificaciones" href="#/panel/notificaciones">Notificaciones</a></li>
				<li class="opcion-menu "><a class="iconos icono-mensajes" href="#/panel/mensajes">Mensajes privados</a></li>
				<li class="opcion-menu "><a class="iconos icono-estadisticas" href="#/panel/estadisticas">Mis estadísticas</a></li>
				<li class="opcion-menu "><a class="iconos icono-listas" href="#/panel/listas">Gestionar listas</a></li>
				<li class="opcion-menu "><a class="iconos icono-obras" href="#/panel/obras">Mis obras</a></li>
				<li class="opcion-menu "><a class="iconos icono-carpetas" href="#/panel/carpetas">Gestionar carpetas</a></li>
				<li class="opcion-menu "><a class="iconos icono-boletines" href="#/panel/boletines">Gestionar boletínes</a></li>
				<li class="opcion-menu "><a class="iconos icono-eventos" href="#/panel/eventos">Gestionar eventos</a></li>
			</ul>
		</div>
		<div id="configuraciones">
			Este módulo aún no se encuentra disponible.
		</div>
	</div>
</section>
