<nav id="barra-categorias">
	<ul class="categorias">
		<li><a href="#/artista/0/obras/" class="iconos icono-todas" title="Todas las categorías"></a></li>
		<li><a href="#/artista/0/obras/dyp" class="iconos icono-dyp" title="Dibujo y pintura"></a</li>
		<li><a href="#/artista/0/obras/fyf" class="iconos icono-fyf" title="Fotografía y filme"></a></li>
		<li><a href="#/artista/0/obras/tyl" class="iconos icono-tyl" title="eatro y literatura"></a></li>
		<li><a href="#/artista/0/obras/myb" class="iconos icono-myb" title="Música y baile"></a></li>
		<li><a href="#/artista/0/obras/eyc" class="iconos icono-eyc" title="Escultura y cerámica"></a></li>
		<li><a href="#/artista/0/obras/ad" class="iconos icono-ad" title="Arte digital"></a></li>
		<li><a href="#/artista/0/obras/otros" class="iconos icono-otros" title="Otros"></a></li>
	</ul>
</nav>
<div id="obras-principal">
	<div id="contenedor-principal">
		<div id="barra-lateral">
			<figure id="avatar-perfil">
				<img src="static/img/default.png" />
			</figure>
			<h2>
				Con nickname al azar
			</h2>
			<p>
				-Esta es una breve descripción que el usuario hace de sí mismo, cuya extensión no exceda los 200 caracteres. Puede hablar de sus pasatiempos, habilidades, etc., para que la comunidad lo conozca mejor.
			</p>
			<ul class="menu-bloques">
				<li class="opcion-menu "><a class="iconos icono-tarjeta" href="#/artista/0">Mi tarjeta</a></li>
				<li class="opcion-menu "><a class="iconos icono-carpetas" href="#/artista/0/carpetas">Mis carpetas</a></li>
				<li class="opcion-menu "><a class="iconos icono-suscripcion" ng-click="suscribir()">Suscribirse</a></li>
				<li class="opcion-menu "><a class="iconos icono-mensajes" ng-click="mensaje()">Mensaje privado</a></li>
				<li class="opcion-menu "><a class="iconos icono-reportar" ng-click="reportar()">Reportar perfil</a></li>
			</ul>
		</div>
		<section id="informacion">
			Este usuario aún no ha creado ninguna carpeta.
		</section>
	</div>
</div>
