<nav id="barra-promotores">
	<ul class="letras">
		<li><a href="#/promotores/" title="Todos los promotores">-</a></li>
		<li><a href="#/promotores/a" title="Promotores por inicial">A</a></li>
		<li><a href="#/promotores/b" title="Promotores por inicial">B</a</li>
		<li><a href="#/promotores/c" title="Promotores por inicial">C</a></li>
		<li><a href="#/promotores/d" title="Promotores por inicial">D</a></li>
		<li><a href="#/promotores/e" title="Promotores por inicial">E</a></li>
		<li><a href="#/promotores/f" title="Promotores por inicial">F</a></li>
		<li><a href="#/promotores/g" title="Promotores por inicial">G</a></li>
		<li><a href="#/promotores/h" title="Promotores por inicial">H</a></li>
		<li><a href="#/promotores/i" title="Promotores por inicial">I</a></li>
		<li><a href="#/promotores/j" title="Promotores por inicial">J</a></li>
		<li><a href="#/promotores/k" title="Promotores por inicial">K</a></li>
		<li><a href="#/promotores/l" title="Promotores por inicial">L</a></li>
		<li><a href="#/promotores/m" title="Promotores por inicial">M</a></li>
		<li><a href="#/promotores/n" title="Promotores por inicial">N</a></li>
		<li><a href="#/promotores/nh" title="Promotores por inicial">Ñ</a></li>
		<li><a href="#/promotores/o" title="Promotores por inicial">O</a></li>
		<li><a href="#/promotores/p" title="Promotores por inicial">P</a></li>
		<li><a href="#/promotores/q" title="Promotores por inicial">Q</a></li>
		<li><a href="#/promotores/r" title="Promotores por inicial">R</a></li>
		<li><a href="#/promotores/s" title="Promotores por inicial">S</a></li>
		<li><a href="#/promotores/t" title="Promotores por inicial">T</a></li>
		<li><a href="#/promotores/u" title="Promotores por inicial">U</a></li>
		<li><a href="#/promotores/v" title="Promotores por inicial">V</a></li>
		<li><a href="#/promotores/w" title="Promotores por inicial">W</a></li>
		<li><a href="#/promotores/x" title="Promotores por inicial">X</a></li>
		<li><a href="#/promotores/y" title="Promotores por inicial">Y</a></li>
		<li><a href="#/promotores/z" title="Promotores por inicial">Z</a></li>
	</ul>
</nav>
<section id="obras-principal">
	<article class="tarjeta-promotor" style="text-align: center">
		<a href="#/registro/promotor">Registrate como promotor</a>
	</article>
	<article class="tarjeta-promotor" ng-repeat="promotor in promotores">
		<div class="thumbnail-promotor" style="background:url('{{promotor.imagen}}');"><p class="descripcion-promotor" ng-bind="promotor.descripcion"></p></div>
		<a class="nombre-promotor" ng-href="{{promotor.url}}" ng-bind="promotor.nickname"></a>
	</article>
	<br/>
	<button class="boton boton-verde" ng-click="cargar(cantidad)">Mostrar más promotores</button>
</section>
