<section id="section-general">
	<div class="formulario">
		<form id="subirobra" name="subirobra" ng-submit="validar()" novalidate>
			<div>
				<label for="titulo">Título de la obra</label><br/>
				<input class="cuadrotexto un-cuadro" type="text" name="titulo" ng-model="titulo" placeholder="Escribe un título para la obra" required ng-minlength="4" ng-maxlength="40"/><br/>
				<label for="descripcion">Descripción de la obra</label><br/>
				<textarea class="cuadrotexto un-cuadro caja" name="descripción"ng-model="descripcion" required ng-minlength="1" ng-maxlength="1000"></textarea><br/>
				<select class="cuadrotexto un-cuadro" name="categoria" ng-model="categoria" required>
					<option value="" default disabled>Selecciona una categoría</option>
					<option value="dyp">Dibujo y pintura</option>
					<option value="fyf">Fotografía y filme</option>
					<option value="tyl">Teatro y literatura</option>
					<option value="myb">Música y baile</option>
					<option value="eyc">Escultura y cerámica</option>
					<option value="ad">Arte digital</option>
					<option value="otros">Otros</option>
				</select><br/>
				<label for="etiquetas">Etiquetas (Te quedan {{maxeti - etiquetas.length}})</label><br/>
				<tags-input class="cuadrotexto un-cuadro" name="etiquetas" ng-model="etiquetas" placeholder="Entre 3 y 30 caracteres por etiqueta" add-on-space="true"min-length="3" max-length="25" min-tags="0" max-tags="30"></tags-input><br/>
				<div class="boton boton-azul">
					<span>Seleccionar archivo</span>
					<input type="file" name="archivo" file-upload file-bind="'archivoPrincipal'" />
				</div>
				<div ng-show="archivo.name != ''"><strong>Archivo seleccionado: </strong> <span ng-bind="archivo.name"></span></div>
				<div class="aviso-error" ng-hide="archivoValido">No has seleccionado un archivo o el archivo que seleccionaste no es soportado por mozArt.</div>
				<div ng-hide="archivoImagen || archivoValido == false">
					<div class="boton boton-azul">
						<span>Seleccionar portada</span>
						<input type="file" name="portada" accept="image/*" file-upload file-bind="'archivoPortada'"/>
					</div>
					<div ng-show="portada.name != ''"><strong>Imagen de portada seleccionada: </strong> <span ng-bind="portada.name"></span></div>
					<div class="aviso-error" ng-hide="portadaValida">El archivo que seleccionaste para la portada no es un formato de imagen valido.</div>
				</div>
			</div>

			<button class="boton boton-verde" type="submit" ng-disabled="!validar()" name="Subir obra">Subir obra</button>
		</form>
	</div>
</section>
