@font-face {
  font-family: 'mozArt';
  src: url("../fonts/icomoon.eot?njncnq");
  src: url("../fonts/icomoon.eot?#iefixnjncnq") format('embedded-opentype'), url("../fonts/icomoon.ttf?njncnq") format('truetype'), url("../fonts/icomoon.woff?njncnq") format('woff'), url("../fonts/icomoon.svg?njncnq#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.ttf?njncnq") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.ttf?njncnq") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Light.ttf?njncnq") format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf?njncnq") format('truetype');
  font-weight: normal;
  font-style: normal;
}
