@font-face
  font-family: 'mozArt'
  src url("../fonts/Categorias/icomoon.eot?njncnq")
  src url("../fonts/Categorias/icomoon.eot?#iefixnjncnq") format('embedded-opentype'),
      url("../fonts/Categorias/icomoon.ttf?njncnq") format('truetype'),
      url("../fonts/Categorias/icomoon.woff?njncnq") format('woff'),
      url("../fonts/Categorias/icomoon.svg?njncnq#icomoon") format('svg')
  font-weight normal
  font-style normal

@font-face 
	font-family 'general'
	src url('../fonts/General/icomoon.eot?-3444q8')
	src url('../fonts/General/icomoon.eot?#iefix-3444q8') format('embedded-opentype'),
		url('../fonts/General/icomoon.woff?-3444q8') format('woff'),
		url('../fonts/General/icomoon.ttf?-3444q8') format('truetype'),
		url('../fonts/General/icomoon.svg?-3444q8#icomoon') format('svg')
	font-weight normal
	font-style normal