.Work-author
.Work-date
	color black
	display inline-block
	margin 0.25em 0 0.5em 0

.Work-author
	a
		color black
		font-style italic
		font-weight 600
		text-decoration none

.Work-avatar
	float left
	margin 0.5em 0 0 0.6em

	a
		text-decoration none

		img
			border-radius 50%

.Work-container
	margin-top 7em
	padding-top 0.6em
	position relative
	text-align center
	width 100%

.Work-data
	position relative

.Work-image
	border-bottom 5px solid azul_mozart
	height 173px
	margin 0
	position relative

.Work-info
	float right
	width 240px

.Work-item
	border 1px solid gray
	box-shadow 2px 2px 10px rgba(black, 0.5)
	display inline-block
	height auto
	margin 0.6em 0.4em
	position relative
	width 300px

.Work-title
	font-size 1.1em
	font-style italic
	font-weight 500
	margin 0.8em 0 0 0
	padding-left 0.4em
	text-align center

	a
		color black
		text-decoration none