.arte_digital-icon
	&:before
		font-family 'mozArt'
		content "\e60e"

.dibujo-pintura-icon
	&:before
		font-family 'mozArt'
		content "\e609"

.enter-icon
	&:before
		font-family 'general'
		content '\e601'

.escultura-ceramica-icon
	&:before
		font-family 'mozArt'
		content "\e60d"

.exit-icon
	&:before
		font-family 'general'
		content '\e602'

.eye-icon
	&:before
		font-family 'general'
		content "\f06e"

.facebook-icon
	&:before
		font-family 'general'
		color #44619D
		content '\f082'

.fotografia-filme-icon
	&:before
		font-family 'mozArt'
		content "\e60a"

.gears-icon
	&:before
		font-family 'general'
		content '\f085'

.google-icon
	&:before
		font-family 'general'
		color #D44132
		content '\f0d4'

.group-icon
	&:before
		font-family 'general'
		content '\f0c0'

.menu-icon
	&:before
		font-family 'general'
		content '\e604'

.musica-baile-icon
	&:before
		font-family 'mozArt'
		content "\e60c"

.otros-icon
	&:before
		font-family 'mozArt'
		content "\e60f"

.profile-icon
	&:before
		font-family 'general'
		content '\e600'

.search-icon
	&:before
		font-family 'general'
		content '\e603'

.teatro-literatura-icon
	&:before
		font-family 'mozArt'
		content "\e60b"

.todo-icon
	&:before
		font-family 'mozArt'
		content "\e608"

.twitter-icon
	&:before
		font-family 'general'
		color #55ACEE
		content '\f081'

.upload-icon
	&:before
		font-family 'general'
		content "\f093"

.user-icon
	&:before
		font-family 'general'
		content "\f007"
