naranja_mozart = #FFA504
gris_mozart = #F1F1F1
azul_mozart = #2475E0
rojo_mozart = #E54D3C

@import "nib"
@import "nib/gradients"
@import "fonts.styl"
@import "icons.styl"
@import "base.styl"
@import "home.styl"
@import "index.styl"
@import "login.styl"
@import "normalize.styl"
@import "register.styl"
@import "subir-obra.styl"