<div id="menu-mozart" class="menu-superior" ng-controller="menuIzquierdoCtrl">
	<a id="botonMenuIzquierdo" class="iconos icono-menu" ng-click="mostrarMenu()">
	</a>
	<div ng-style="posicionIzquierda" off-click="mostrarMenu()" off-click-filter="#botonMenuIzquierdo" off-click-if="visible == true">
		<ul class="menu-bloques" ng-click="mostrarMenu()">
			<li class="opcion-menu"><a class="iconos icono-explorar" href="#/explorar">Explorar obras</a></li>
			<li class="opcion-menu"><a href="#/promotores" class="iconos icono-promotores">Promotores</a></li>
			<li class="opcion-menu"><a href="#/recorrido" class="iconos icono-recorrido">Recorrido por mozArt</a></li>
			<li class="opcion-menu"><a href="#/aleatorio/obra" class="iconos icono-aleatorio">Obra aleatoria</a></li>
			<li class="opcion-menu"><a href="#/aleatorio/usuario" class="iconos icono-aleatorio">Usuario aleatorio</a></li>
		</ul>
		<footer>
			<a href="#" ng-click="mostrarMenu()"><span>Donaciones</span></a>
			<a href="#" ng-click="mostrarMenu()"><span>Acerca del sitio</span></a>
			<a href="#" ng-click="mostrarMenu()"><span>Políticas, terminos y condiciones</span></a>
			<a href="#" ng-click="mostrarMenu()"><span>Dudas y sugerencias</span></a>
			<span>© 2014 mozArt. Desarrollado por <a href="#" ng-click="accionMenu(1)">zero</a></span>
		</footer>
	</div>
</div>
<div id="menu-usuario" class="menu-superior" ng-controller="menuDerechoCtrl">
	<a class="cantidad" title="0 notificaciones" href="#/panel/notificaciones" ng-click="ocultarMenus()"> 0 </a>
	<figure id="botonMenuDerecho" ng-click="mostrarMenu()">
		<img class="redondo" src="static/img//foto2.jpg"/>
	</figure>
	<div ng-style="posicionDerecha" off-click="mostrarMenu()" off-click-filter="#botonMenuDerecho" off-click-if="visible == true">
		<ul class="menu-bloques" ng-click="mostrarMenu()">
			<li class="opcion-menu"><a href="#/login" class="iconos icono-login">Iniciar sesión</a></li>
			<li class="opcion-menu"><a href="#/registro/artista" class="iconos icono-registro">Unirse a mozArt</a></li>
			<li class="opcion-menu"><a href="#/artista/0" class="iconos icono-perfil">Ver mi Perfil</a></li>
			<li class="opcion-menu"><a href="#/panel/informacion" class="iconos icono-panel">Panel de usuario</a></li>
			<li class="opcion-menu"><a  href="#/crear" class="iconos icono-cargar">Crear obra</a>
			</li>
			<li class="opcion-menu"><a href="#/logout" class="iconos icono-salir">Cerrar sesión</a></li>
		</ul>
	</div>
</div>
<figure id="mozart-logo" ng-click="ocultarMenus()">
	<a href="#/explorar"><img src="static/img/logo.png" alt="mozArt"></a>
</figure>
<form id="cuadro-busqueda" ng-click="ocultarMenus()">
	<div class="contenedor">
		<input type="search" name="busqueda" class="cuadrotexto" placeholder="Buscar obras, artistas y promotores" ng-model="texto" autocomplete="off"/>
		<button type="submit" class="iconos boton-busqueda"></button>
		<ul ng-show="texto.length > 0" ng-animate="fadeIn">
			<li class="copia-texto">Resultados para <b ng-bind="texto"></b></li>
			<li class="resultado">No hay resultados</li>
		</ul>
	</div>
</form>
