<html>
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<title>Login - mozArt</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
	<link rel="icon" type="image/png" href="../static/img/favicon.png"/>
</head>
<body>
	<header class="Header">
		<figure class="Header-logo">
    		<img src="../static/img/logo.png" alt="mozArt" height="auto" width="150px"/>
		</figure>
	</header>
	<section class="Login-container">
		<article class="Login-traditional">
			<h2 class="Login-title">Iniciar Sesión</h2>
			<form action="" method="post" class="Login-form">
				<input class="Login-input" type="text" name="username" placeholder="Username"/>
				<input class="Login-input" type="password" name="password" placeholder="Password">
				<button class="Login-button" type="submit">Login</button>
			</form>
		</article>
		<article class="Login-social">
			<h2 class="Login-title">¿Tienes Redes Sociales Vinculadas?</h2>
			<div class="Login-socialOptContainer">
				<a href="#" class="Login-socialOption facebook-icon"></a>
	            <a href="#" class="Login-socialOption google-icon"></a>
	            <a href="#" class="Login-socialOption twitter-icon"></a>
			</div>
		</article>
	</section>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="../static/js/main.js"></script>
</body>
</html>