<html>
<head>
	<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
	<title>Registrate - mozArt</title>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400' rel='stylesheet' type='text/css'/>
	<link rel="stylesheet" type="text/css" href="../static/css/main.css"/>
	<link rel="icon" type="image/png" href="../static/img/favicon.png"/>
</head>
<body>
	<header class="Header">
		<figure class="Header-logo">
    		<img src="../static/img/logo.png" alt="mozArt" height="auto" width="150px"/>
		</figure>
	</header>
	<section class="Register-container">
		<h2 class="Register-title">¡Registrate!</h2>
		<form action="" class="Register-form">
			<input class="Register-input" type="text" name="username" id="username" placeholder="Username"/>
			<input class="Register-input" type="text" name="nombre" id="nombre" placeholder="Nombre(s)"/>
			<input class="Register-input" type="text" name="apellidos" id="apellidos" placeholder="Apellidos"/>
			<input class="Register-input" type="text" name="email" id="email" placeholder="Correo Electronico"/>
			<input class="Register-input" type="password" name="password1" id="password" placeholder="Contraseña"/>
			<input class="Register-input" type="password" name="password2" id="password2" placeholder="Confirmar Contraseña"/>
			<button class="Register-button" type="submit">Terminado</button>
		</form>
	</section>
</body>
</html>